// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


/***
Colors
***/

$california-gold:   rgb(242, 169, 0);
$dpw-dark-blue:     #233242;
$dpw-light-blue:    #0077C8;
$dpw-med-blue:      #002D72;
$seal-blue:         #119BD7;
$forest-green:      #296819;
$footer-dark-gray:  #626C72;
$footer-light-gray: #D6D6D5;
$black:             #31333B;
$info:              #17a2b8;
$soft-grey:         #cdd5db;
$primary:             $dpw-light-blue; 
$warning:             $california-gold;
$dark:                $dpw-dark-blue;
$link-color:          $dpw-light-blue;
 

$theme-colors: (
 "primary-80"   : lighten($primary, 5%),
 "primary-60"   : lighten($primary, 15%),
 "primary-40"   : lighten($primary, 25%),
 "primary-20"   : lighten($primary, 35%),
 "warning-80"   : lighten($warning, 5%),
 "warning-60"   : lighten($warning, 15%),
 "warning-40"   : lighten($warning, 25%),
 "warning-20"   : lighten($warning, 35%),
 "info-80"      : lighten($info, 5%),
 "info-60"      : lighten($info, 15%),
 "info-40"      : lighten($info, 25%),
 "info-20"      : lighten($info, 35%),
 "med-blue"     : $dpw-med-blue,
 "seal-blue"    : $seal-blue,
 "black"        : $black,
 "forest-green" : $forest-green,
 "footer-drk"   : $footer-dark-gray,
 "footer-lt"    : $footer-light-gray, 
 "soft-grey"    : $soft-grey
  );

/****
Typography
*****/
$display5-size:       2rem !default;
$display5-weight:     300 !default;
$font-weight-bolder:  900;

/****
Sizing
****/
// This variable affects the `.h-*` and `.w-*` classes.
$spacer: 1rem !default;
$sizes: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3:  $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
); 

/****
Shadows
****/

$enable-shadows:   true;

//Responsive Font Size
$enable-responsive-font-sizes: true;

/****
Breakpoints
****/
$container-max-widths: (
 
  xl: 1200px
)
