@media (max-width: 540px) {
    .btn-responsive {
        font-size: 0.7rem;
        line-height: 1;
        border-radius:3px;
    }
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .btn-responsive {
          
          font-size: 0.80rem;
          line-height: 1.2;
        }
      }
      
